* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen {
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: green;
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bezel {
    width: 100%;
    height: 100%;
}